root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  bin = "./tmp/main"
  cmd = "go build -mod=vendor -o ./tmp/main ./cmd/web/main.go"
  
  include_ext = ["go", "tpl", "tmpl", "html", "yaml", "yml"]
  
  exclude_dir = ["assets", "tmp", "vendor", "static"]
  
  delay = 1000
  
  stop_on_error = true
  
  log = "air.log"

[log]
  time = true

[color]
  main = "magenta"
  watcher = "cyan"
  build = "yellow"
  runner = "green"

[misc]
  clean_on_exit = true