<!doctype html>
<html lang="en">
  <!--begin::Head-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title>TendaBox</title>
    <!--begin::Accessibility Meta Tags-->
    <!--end::Accessibility Meta Tags-->
    <!--begin::Primary Meta Tags-->
    <meta name="title" content="TendaBox" />
    <meta name="author" content="Mohammad Ali Fatehchehr" />
    <!--end::Primary Meta Tags-->
    <!--begin::Required Plugin(AdminLTE)-->
    <link rel="stylesheet" href="./static/css/404.css" />
    <!--end::Required Plugin(AdminLTE)-->
  </head>
  <body>
    <main class="bsod container">
      <h1 class="neg title"><span class="bg">Error - 404</span></h1>
      <p>An error has occured, to continue:</p>
      <p><strong>Reason:</strong></p>
      <p>
        * {{ .Error }}<br />
        * Send us an e-mail about this error and try later.
      </p>
      <nav class="nav">
        <a href="/dashboard" class="link">Back to Dashboard</a>
      </nav>
    </main>
  </body>
</html>
